.select-var {
  --color-border: #b2b2b2;
  --color-placeholder: #b2b2b2;
  --color-focus: #4b7bff3b;
  --color-active: #4b7bff18;
  --padding-inline: 0.75rem;
  --height: 2rem;
  --line-height: var(--height);
  --border-radius: 8px;
}
